header{
  width: 100%;
  position: fixed;
  margin-top: 20px;
  top: 0;
display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

header .navbar{
 width:95%;
 border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.171) !important;

}

header .active{
  color: #1EA5FC !important;
}

header a{
  color: black !important;
  font-weight: 500 !important;
}
header .Logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
header .temp{
  background-color: black;
  height: 25px;
  width: 1px;
}
.navbar-toggler {
  border: 0;
  outline: 0;
  box-shadow: none !important;
}